<%# Banner and Navbar %>
<%= partial 'partials/navbar' %>
<%= partial 'partials/banner' %>

<%# Main page %>
<div class="container ">
  <%= partial 'partials/about' %>
  <%= partial 'partials/skills' %>
  <%= partial 'partials/projects' %>
  <%= partial 'partials/contact' %>
</div>

<%# Footer %>
<%= partial 'partials/footer' %>


